/* #region global*/
/* https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --main-section-color: #45aaf2;
  }
/* #endregion global*/

/* #region body */
body{
    background-color: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
}
/* #endregion body */

/* #region main */
.mainWelcome{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "head head"
    "nav nav"
    "img content"
    "footer footer";
}

.wide{
    display: initial;
}

.mobil{
    display: none;
}

/* #endregion main */

/* #region header */
header{
    grid-area: head;
}

.headerbanner{
    background-color: var(--main-section-color);
    background-image: url(../img/03478_sandycay_3840x1080.jpg);

    height: 10em;
    width: 100%;
    min-width: 20em;

    background-position: left bottom;
    background-size: cover;

    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px gray;
    
}

header h1{
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
    
    color: white;

    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    text-align: left;
    text-transform: uppercase;
    
    line-height: 1.1em;
    letter-spacing: 0.1em;
    word-spacing: 1em;

    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5%;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 0px;

    visibility:  visible;
    display: inline-block;

    width: 300px;
}

#h1Destination {
    margin-left: 10%;
}


.keyframAni{
    max-width: 60px;
    max-height: 60px;
    width: 500px;
    height: 500px;
    background-image: url(../img/relax.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
        top: 40px;
        left: 92%;
    animation: mymove 10s infinite;
}

@keyframes mymove {
    0% {opacity: 0;}
   12% {opacity: 0.25;}
   25% {opacity: 0.5;}
   37% {opacity: 0.75;}
   50% {opacity: 1;}
   62% {opacity: 0.75;}
   75% {opacity: 0.5;}
   87% {opacity: 0.25;}
  100% {opacity: 0;}
  }

/* #endregion header */

/* #region nav */
.navWelcome,
.navtop{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    margin: 5px 0px;
    min-width: 20em;

    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px gray;
    background-color: #3867d6;
}    

.navWelcome{
    display: grid;
    display: inline-grid;
    grid-area: nav;
}

.navWelcome ul,
.navtop ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color:transparent;
}

nav a,
nav button{
    margin-right: 3%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
nav button{
    background-color: transparent;
    border: transparent;
}

nav a:first-child{
    margin-left: 1rem;
}

nav a:last-child{
    margin-right: 0px;
}

.navWelcome::after,
.navtop::after{
    clear: left;
}

.navWelcome a:hover,
.navtop a:hover{
    color: #fa8231;
}

.aktuell{
    font-weight: bold;
    color: #fed330;
}

.navHamburger,
.print {
    display: none;
}

.navNoHamburger{
    display: block;
}
/* #endregion nav */

/* #region aside */
aside {
    grid-area: img;
    
}

aside img{
    max-width: 100%;
    max-height: 30%;
    border-radius: 10px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.sideimg{
    margin-top: 0.5rem;
}
/* #endregion aside */

/* #region footer */
footer{
    font-size: 120%;

    background-color: var(--main-section-color);
    background-image: url(../img/beach-umbrella.png), url(../img/beach_birds.jpg);
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50%);
    color: rgb(240, 240, 240);
    text-align: center;

    margin: 0rem;
    padding: 0rem;

    clear: both;
    display: flex;
    justify-content: center;

    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px gray;

    grid-area: footer;
}
/* #endregion footer */

/* #region Welcome */
.welcome{
    grid-area: content;
}

.welcome section{
    background-color: var(--main-section-color);
    color: rgb(240, 240, 240);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px gray;
    margin: 1rem;
    margin-top: 0px;
    margin-right: 0rem;
    
    font-size: 120%;
}

.welcome h1{
    font-size: 150%;
    margin: 0rem;
    margin-top: 0.5rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.welcome p{
    padding: 1rem;
    padding-top: 0.5rem;
    margin: 0px;
}

/* #endregion Welcome */

/* #region Details */
.tolmin,
.bali,
.domrep{
    font-size: 120%;
    display: flex;
    flex-direction: column;
}

.tolmin section,
.bali section,
.domrep section{
    background-color: var(--main-section-color);
    color: rgb(240, 240, 240);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px gray;
    margin: 1rem;
    margin-top: 0.5rem;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    flex: 1;
}

.tolmin img,
.bali img,
.domrep img{
    max-width: 30%;
    max-height: 30%;
    border-radius: 10px;
    float: left;
    margin-right: 1rem;
}

.tolmin h1,
.bali h1,
.domrep h1{
    font-size: 150%;
    font-size: 150%;
    margin: 0.5rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.tolmin p,
.bali p,
.domrep p{
    padding: 1rem;
    padding-top: 0.5rem;
    margin: 0px;
}
/* #endregion Detail */

/* #region Contact */
.contact{
    width: 100%;
    font-size: 120%;
    margin-bottom: 0.5rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px gray;
}

.question{
    width: 100%;
    border-radius: 0.5rem;
    background-color: #d1d8e0;
    padding: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question form div > label{
    width: 20%;
    display: inline-block;
}

.question form div p{
    width: 20%;
    display: inline-block;
}


.question input,
.question select,
.question textarea {
    width: 60%;
    padding: 1rem;
    border-radius: 0.15rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    resize: vertical;
}

.question input[type="radio"],
.question input[type="range"]
{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
}

#contactsubmit {
    background-color: var(--main-section-color);
    color: rgb(240, 240, 240);
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 8rem;
    font-size: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px gray;
}

#contactsubmit:hover{
    background-color: gray;
}

#recomno,
#recomyes{
    width: 1.2rem;
}

.radiolabel{
    width: 1rem !important;
}

.commentlabel{
   float: left;
}

/* #endregion Contact */

/* Screen size options */
@media only screen and (max-width: 800px){

    body {
        width: 95%;
    }

    body img{
        width: auto;
    }    
    .mainWelcome{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "head"
        "nav"
        "img"
        "content"
        "footer";
    }

    .welcome section{
        margin-left: 0px;
        margin-right: 0px;
    }

    .navWelcome,
    .navtop{
    position: initial;
    font-size: 150%;
    text-transform: none;
    max-width: 100%;
    min-width: initial;
    }

    .navtop ul{
        margin: 0;
        padding: 0;
        background-color:transparent;
    }

    nav a{
        margin-right: 0%;
        display: inline-flex;
        clear: both;
    }
    nav a:first-child,
    nav a:last-child{
        margin-left: 0px;
    }

    .tolmin img,
    .bali img,
    .domrep img{
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        border-radius: 10px;
        float: left;
        margin-right: 1rem;
    }

    aside img{
        width: 100%;
    }

    .contact{
        width: 100%;
        font-size: 120%;
        margin-bottom: 0.5rem;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 2px 2px gray;
    }
    
    .question{
        width: 100%;
        border-radius: 0.5rem;
        background-color: #d1d8e0;
        padding: 1.2rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .question input,
    .question select,
    .question textarea {
        width: 100%;
        padding: 1rem;
        border-radius: 0.15rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        resize: vertical;
    }
    
    .question input[type="radio"],
    .question input[type="range"]
    {
        margin: 0%;
        padding: 0%;
        background-color: transparent;
    }
   
    #contactsubmit {
        background-color: var(--main-section-color);
        color: rgb(240, 240, 240);
        padding: 1rem 1.2rem;
        border: none;
        border-radius: 0.2rem;
        cursor: pointer;
        width: 8rem;
        font-size: 100%;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 2px 2px gray;
    }
    
    #contactsubmit:hover{
        background-color: gray;
    }
    
    #recomno,
    #recomyes{
        width: 1.2rem;
        margin-bottom: 2rem;
    }

    .question form div p{
        width: 100%;
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .navNoHamburger{
        display: none;
    }
    .navHamburger{
        display: block;
    }

    .wide{
        display: none;
    }

    .mobil{
        display: initial;
    }

}

@media screen and (max-width: 530px) {
    .mainWelcome{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "head"
        "nav"
        "img"
        "content"
        "footer";
    }

    nav ul {
      display: block;
      padding-left: 0;
    }
    nav li {
      margin: 2px 0px;
      background: #222;
    }
    .navigation button {
      position: absolute;
      top: 0rem;
      right: 0.5rem;
      border: 0;
      background: white;
      color: black;
      font-size: inherit;
      display: block;
    }
    .navigation ul {
      display: none;
      margin-top: 2rem;
      margin-left: 1rem;
    }
    
    .navNoHamburger{
        display: none;
    }
    .navHamburger{
        display: block;
    }
    /*
    .hidden {
        display: none;
    }
    */
  }

  /* #region Print */
  @media print {

    .mainWelcome{
        display: initial;
    }

    header,
    .navWelcome,
    nav,
    aside,
    img, 
    footer  {
      display: none !important;
    }

    .welcome section,
    .tolmin section,
    .domrep section,
    .bali section{
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
 }
 /* #endregion Print */